body
{
    background-color:rgb(60,60,60);    
    margin: 0;
    text-align: left;
}
.header
{    
    margin:0;
    padding: 40px;
    border-radius:8px;
    margin:5px 5px 0px 5px;
    background-color:white;     
    text-align:center;
    color:DodgerBlue;
     font-family: Aharoni;
     text-decoration:none;
     display:block;
      font-size: x-large;   
}
h2 a
{
    color:DodgerBlue;
}
marquee
{
    
    color:DodgerBlue;
    padding :5px;
    height: 83px;
    width: 789px;
}
.column
{
    margin:5px;
    margin-right:5px;
    margin-left:300px;
    background-color:white;
    text-align:center;
    border-radius:8px;
    width:985px;
    height:570px;
}

.side_col
{
    margin:0;  
    width:300px;
    border-radius:8px;
    text-align:center;
    margin:5px;
    background-color:DodgerBlue;
}

ul
{  
    list-style-type:none;
    padding:0;
    margin:0;  
    width:227px;
    float:left;
    overflow:auto;
    height: 595px;
}


li a
{ 
    border-style: none;
    border-color: inherit;
    border-width: 0;
    margin-top:0px;
    display: block;
    color: Black;
    padding: 10px 15px;
    text-decoration: none;
    text-align: center;
    background-color:DodgerBlue;   
    color:white;
    border-radius: 8px;
    font-family: Aharoni;
    height: 26px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}
img
 {
    margin-right:10px;
    border-radius:20px;
    margin-top: 0px;
    float: left;
    text-align: justify;
}
#ad
{   
    margin-left:10px;
    margin-right:5px;
    width:869px;
    background-color:Dodgerblue;
    border-radius: 8px;
    float: left;
}
li a:hover
{
    opacity: 0.3;
    filter: alpha(opacity=100);
    color:white;
    font-family: Aharoni;
}


.footer
{ 
    color:DodgerBlue;
    text-align: center;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:0px;
    background-color:white;
    padding: 20px;
    margin-bottom:5px;
    border-radius: 8px; font-family: Times New Roman; font-size: Medium;
}

#table
{
    border-style: none;
    border-color: inherit;
    border-width: 5px;
    margin-top:1px;
    margin-bottom:5px;
    height: 31px;
    margin-left: 0;
    margin-right: 0;
}
 .menu
 {
     margin-top:10px;
 }
 .main
 {
     width:100%;
     height:99%;
 }
 .side
 {
     
     width:100%;
     height:100%;
 }
 .container
 {
      width:86%;
     height:88%;
    margin-top: 38px;
}
.ad_container
{
    background-color:White;
    margin-left:300px;
    margin-Right:5px;
    border-radius:5px;
    height:31px;
}
